<nav>
  <ul>
    <li class="logo">
      <span>
        <a href="/index.html">
          {{ site.data.general.logo | xml_escape | textilize }}
        </a>
      </span>
      
    </li>
    {% for item in site.data.navigation %}
    <li {% if page.url == item.link %}class="nav-item current"{% else %}class="nav-item"{% endif %}>
      <a href="{{ item.link }}">{{ item.name | xml_escape | textilize }}</a>      
    </li>
    {% endfor %}
    <li class="contact-button">
      <div>{{ site.data.general.contact }}</sdiv>
    </li>
  </ul>
</nav>