<div class="services-container">
    <div class="title-container">
        <h1>
            {{ include.title }}
        </h1>
    </div>
    <div class="services">
        {% for service in include.services %}
        {% if service.service %}
        <div class="{{ service.service.type }}">
            <h1>{{ service.service.name }}</h1>
        </div>
        {% endif %}
        {% if service.quote %}
        <div class="highlight-phrase">
            <p>{{ service.quote.quote }}</p>
            <span>{{ service.quote.author }}</span>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>