.content-container {
    font-family: $font-familiy;
    position: relative;
}

.sections {
    
    .section {
        min-height: calc(100vh - 90px);
        width: 100%;
        line-height: 1.8em;
        .title-container {
            h1 {
                line-height: 1.1em;
                span {
                    color: #9f92af;
                    font-size: 3rem;
                    font-weight: 600;
                }
            }
            h1:after {
                bottom: -10px;
            }
        }
        .section-content {
            min-height: calc(100vh - 90px);
            margin-top: 5vh;
            .section-texts {
                width: 40vw;
                padding-left: 10vh;
                padding-right: 10vh;
                color: $base-text-color;
                font-size: 1.2rem;

                font-weight: 500;
                p {
                    margin-top: 10px;
                }
                span {
                    font-weight: 800;
                }
            }
            
            .section-quote {
                padding: 5vw;
                width: 60vw;
                margin-top: 5vh;
                color: $menu-text-color;
                background-color: #fdf7fc;
                font-size: 1.3rem;
                font-weight: 600;
                font-family: $font-familiy;
                font-style: italic;
                line-height: 1.6rem;
                .quote span {
                    font-weight: 800;
                }
                .reference {
                    margin-top: 5px;
                    color: #9e8fae;
                    span {
                        font-weight: 800;
                    }
                }
                .reference:before {
                    content: "- ";
                }
                /*.quote:after {
                    content: '';
                    position: absolute;
                    background-image: url('../images/quote.svg');
                    width: 100px;
                    height: 100px;
                    background-repeat: no-repeat;
                    top: 0
                }*/
            }
        }
        
        .section-image {            
            background-repeat: no-repeat;
            background-position: top right;
            background-size: 40%;
        }

       
    }
}