.content-container {
    font-family: $font-familiy;
    position: relative;
}

.sections {
    
    .section {
        /*min-height: calc(100vh - 90px);*/
        width: 100%;
        line-height: 1.8em;
        .title-container {
            h1 {
                line-height: 1.1em;
                span {
                    display: inline-block;
                    color: #9f92af;
                    font-size: 3rem;
                    font-weight: 600;
                }
            }
            h1:after {
                bottom: -10px;
            }
        }
        .section-content {
            height: calc(100vh - 90px);
            margin-top: 5vh;
            max-height: 1440px;
            .section-texts {
                width: 50vw;
                padding-left: 5vw;
                padding-right: 5vw;
                color: $base-text-color;
                font-size: 1.2rem;
                font-weight: 500;

                p {
                    margin-top: 10px;
                }
                span {
                    font-weight: 800;
                }
            }
            
            .section-quote {
                padding: 5vw;
                width: 60vw;
                margin-top: 5vh;
                color: $menu-text-color;
                background-color: #fdf7fc;
                font-size: 1.3rem;
                font-weight: 600;
                font-family: $font-familiy;
                font-style: italic;
                line-height: 1.6rem;
                position: relative;
                .quote span {
                    font-weight: 800;
                }
                .reference {
                    margin-top: 5px;
                    color: #9e8fae;
                    span {
                        font-weight: 800;
                    }
                }
                .reference:before {
                    content: "- ";
                }
                
            }
            .section-quote::after {
                content: '';
                position: absolute;
                background-image: url('../images/quote.svg');
                width: 95vw;
                height: 100px;
                background-repeat: no-repeat;
                top: 2.5vw;
                left: 3vw;
            }
        }
        
        .section-image {            
            background-repeat: no-repeat;
            background-position: top right;
            background-size: 50vw;
        }       
    }
}