
.home-content {
    position: relative;
    width: 100%;  
    display: block;
    height: max-content;
    
    font-family: $font-familiy;
  
    .bullet-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  
      .bullets {
        grid-column: 1;
        grid-row: 1;
        padding-left: 5vw;
        padding-right: 5vw;
        font-size: 1.2rem;
        line-height: 2rem;
        color: $menu-text-color;
  
        li {
          list-style-image: url('../images/bullet.svg');
          padding-left: 10px;
          margin-bottom: 10px;
        }
      }
      .bullet-photo {
        background-image: url('../images/home-content.png');
        background-repeat: no-repeat;
        grid-column: 2;
        grid-row: 1;
        border-radius: 5px;
      }
    }
  }


.home-banner {
    width: 100%;
    height: calc(100vh - 90px);
    background-image: url("../images/home-banner.png");
    background-repeat: no-repeat;
    color: $banner-text-color;
    font-family: $font-familiy;
    
    div {
      position: absolute;
      top: calc(35vh - 90px);
      left: 5vw;
        
      h1 {
        font-size: 9rem;
        font-weight: 700;
      }
    
      h2 {
        margin-top: 10vh;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.2;
      }
    }  
}
  