$content-max-width: 1920px;
$menu-background-color: #fdf7fc;
$menu-text-color: #322640;
$menu-hover-line: #009999;
$menu-height: 90px;
$menu-font-size: 1.2rem;
$menu-familty: Poppins, Arial, Helvetica, sans-serif;
$font-weight: 500;
$banner-text-color: #fdf7fc;
$font-familiy: Poppins, Arial, Helvetica, sans-serif;

body {
  font-family: $font-familiy;
  width: 100%;
}

.debug-div {
  border: red;
  border-style: solid;
  border-width: 1px;
}

div#container {
  max-width: $content-max-width;
  width: 100%;
  position: relative;
  margin: auto;
  display: block;
  padding-top: $menu-height;
}

div#container::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $menu-background-color;
  height: $menu-height;
  content: '';
}

nav {
  height: $menu-height;
  background-color: $menu-background-color;
  max-width: $content-max-width;
  width: 100%;
  color: $menu-text-color;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  ul {
    list-style-type: none;
    margin: 0;
    height: 100%;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: $menu-font-size
  }

  li {
    height: 100%;
    display: inline-block;
    padding: 0 11px;
    overflow: visible;
    line-height: 5.0em;
    position: relative;
    font-weight: 500;
    font-family: Poppins, Arial, Helvetica, sans-serif;
  }

  li a {
    text-align: center;
    text-decoration: none;
    justify-content: center;
    height: 100%;
  }

  li.logo {
    width: 262px;
    background-color: #fae1f4;
    margin-left: 0;
    margin-right: auto;
  }

  li.nav-item.current::after {
    width: 75px;
    height: 2px;
    display: block;
    bottom: 25px;
    right: calc(45% - 27px);
    background: #009999;
    position: absolute;
    content: '';
  }

  li.nav-item:hover:after {
    width: 75px;
    height: 2px;
    display: block;
    bottom: 25px;
    right: calc(45% - 27px);
    background: #009999;
    position: absolute;
    content: '';
  }
  li:last-child {
    margin-right: 3vw;
  }

  li.contact-button>div {
    height: 30px;
    width: 126px;
    text-align: right;
    color: #fdf7fc;
    position: relative;
  }

  li.contact-button::before {
    width: 111px;
    height: 43px;
    display: block;
    content: '';
    right: calc(36% - 55px);
    top: calc(42% - 15px);
    background: #5f497a;
    position: absolute;
    border-radius: 5px;
  }
  
}

.title-container {    
  height: calc(30vh - 90px);
  padding-left: 5vw;
  h1 {
    position: relative;
    top: 0;    
    font-size: 5rem;
    font-weight: 700;
    color: #5f497a;
    line-height: 2.0em;
  }

  h1:after {
    content: '';
    width: 75px;
    height: 2px;
    display: block;
    bottom: 25px;
    background: #009999;
    position:absolute;
    
  }
}


.services-container {
  font-family: $font-familiy;
  
  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 5vw;
    margin-right: 5vw;
    

    div.movement {
      background-image: url('../images/movement-service.png');
    }
    div.more {
      background-image: url('../images/more-service.png');
    }    
    div.psychomotricity {
      background-image: url('../images/psychomotricity-service.png');
    }

    div.workshop {
      background-image: url('../images/workshop-service.png');
    }

    div.massage {
      background-image: url('../images/massage-service.png');
    }

    div.shiatsu {
      background-image: url('../images/shiatsu-service.png');
    }

    div.movement-space {
      background-image: url('../images/movement-space-service.png');
    }

    div.encounters {
      background-image: url('../images/encounter-service.png');
    }

    div.education {
      background-image: url('../images/education-service.png');
    }

    div.therapy {
      background-image: url('../images/therapy-service.png');
    }

    div.family {
      background-image: url('../images/family-service.png');
    }

    div.game {
      background-image: url('../images/game-service.png');
    }

    div.literature {
      background-image: url('../images/literature-service.png');
    }

    div.exploration {
      background-image: url('../images/exploration-service.png');
    }

    div.traces {
      background-image: url('../images/traces-service.png');
    }

    div.family-encounter {
      background-image: url('../images/family-encounter-service.png');
    }

    div.professional-encounter {
      background-image: url('../images/professional-encounter-service.png');
    }

    div {
      height: 40vh;
      background-repeat: no-repeat;
      margin: 50px;
      background-size: 100%;
      h1 {
        margin-left: 3vw;
        margin-top: 15vw;
        color: #fdf7fc;
        font-size: 1.3rem;
        font-weight: 700;
        
      }
    }    
  }
}

.highlight-phrase {
  background-color: #fdf7fc;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  color: #5f497a;
  font-size: 1.7rem;
  font-weight: 600;
  font-family: $font-familiy;
  font-style: italic;
  
  p {
    margin-bottom: 2vh
  }
  span {
    color: #9e8fae;
    font-style: normal;
  }
  span:before {
    content: "- ";
  }
}