body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 100%;
}

div#container{
  width: 1717px;
  position: relative;
  margin: auto;
  display: block;
}

nav {
  width: 100%;
  display: block;
  height: 90px;
  background-color: #fdf7fc;
  width: 1717px;  
  color: #5f497a;
  position: relative;
  margin: auto;

  ul {
    list-style-type: none;
    margin: 0;
    height: 100%;
    overflow: hidden;
  }

  li {
    height: 100%;
    display: inline-block;
    padding: 0 11px;
    overflow: visible;
    line-height: 5.7em;
    position: relative;
  }

  li a {
    text-align: center;
    text-decoration: none;
    color: #322640;
    font-weight: 500;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 18px;
    justify-content: center;
    height: 100%;
  }

  li.logo {
    width: 262px;
    background-color: #fae1f4;
  }

  li.nav-item:nth-child(2) {
    margin-left: 256px;
  }

  li.nav-item.current::after {
    width: 75px;
    height: 2px;
    display: block;
    bottom: 25px;
    right: calc(45% - 27px);
    background: #009999;
    position: absolute;
    content: '';
  }

  li.nav-item:hover:after {
    width: 75px;
    height: 2px;
    display: block;
    bottom: 25px;
    right: calc(45% - 27px);
    background: #009999;
    position: absolute;
    content: '';
  }

  li.contact-button>div {
    height: 30px;
    width: 126px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    color: #fdf7fc;
    position: relative;

  }

  li.contact-button::before {
    width: 111px;
    height: 43px;
    display: block;
    content: '';
    right: calc(36% - 55px);
    top: calc(42% - 15px);
    background: #5f497a;
    position: absolute;
    border-radius: 5px;

  }

}