.movement-banner-container {
    font-family: $font-familiy;

    .title-container {
        display: inline-flex;
        flex-direction: row;

        h1:after {
            bottom: 65px;
        }

        span {
            color: #9f92af;
            font-size: 3rem;
            font-weight: 600;
            padding-top: 69px;
            padding-left: 20px;
            height: calc(30vh - 21px);
        }
    }    
}

.movement-content-container {
    font-family: $font-familiy;
    display: grid;
    
    grid-template-columns: repeat(6, 1fr);
    height: calc(100vh - 90px);
    width: 100%;
    column-gap: 5rem;

    .summary {
        grid-row: 1;
        grid-column: 1 / 4;
        padding-left: 10%;
        font-size: 1.2rem;
        line-height: 2em;
    }

    .main-image {
        background-image: url('../images/movement-content.png');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;
        grid-row: 1 / 4;
        grid-column: 4 / 7;
    }

    .highlight-phrase {
        grid-row: 2;
        grid-column: 1 / 5;
        font-style: normal;
    }
}

.quote-container {
    height: 30vh;
    width: 60vw;
}
