.phychomotricity-container {
    .sections {
        .phychomotricity-section {
            .section-image {
                background-image: url('../images/psychomotricity-section.png');

            }
        }

        .methodology-section {
            .section-image {
                background-image: url('../images/methodology-section.png');

            }
        }
    }
}

.phychomotricity-note-container {
    width: 100%;
    display: grid;
    min-height: calc(70vh - 90px);
    grid-template-columns: repeat(6, 1fr);

    .note-image {
        background-image: url('../images/psychomotricity-note.png');
        background-repeat: no-repeat;
        grid-row: 1;
        grid-column: 1;
    }

    .note-text {
        grid-row: 1;
        grid-column: 2 / 7;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: $font-familiy;
        color: $base-text-color;
        line-height: 1.6em;
        padding-left: 5vw;
        padding-right: 5vw;
        h1 {
            font-size: 1.3rem;
            color: $menu-text-color;
            font-weight: 800;
            margin-top: 5vh;
        }

        p {
            margin-top: 3vh;
        }
        p span {
            font-weight: 800;
        }
    }
}